 html {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

header, footer{
	background-color: #f5f5f5;
	padding: 0px 10px;
}

@media screen and (max-width: 769px) {
	/* .container {
		flex-wrap: wrap-reverse;
	} */
}

.burger-menu svg {
	height: 30px;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ddd}

.dropup:hover .dropup-content {
  display: block;
}

header .container .row{
	min-height: 130px;
}

.container-name {
	font-size: 45px;
	font-weight: 900;
}

.container-info {
	font-size: 20px;
	font-weight: bold;
    color:#5e5d5a
}

.social {
	display: flex;
}

.social svg {
	height: 40px;
}

.banner div.image, .timer-container div.image, .categories .image{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.banner img, .timer-container img {
    height: auto;
    width: 100%;
}
.timer-container div.image {
    height: 200px;
      position: relative;
  text-align: center;
}
.timer-container img{
    filter: blur(2px) opacity(70%);
}
.banner .info {
	font-size: 40px;
	font-weight: bold;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;  
  }

.timer-container .number {
    font-size: 40px;
    font-weight: bold;
}
.timer-container .text {
    font-weight: bold;
    color: grey;
}
.categories {
    margin-top: 50px;
}
.title {
	font-size: 40px;
	font-weight: bold;
}
.presentation-text{
    font-size: 20px;
	font-weight: bold;
    color: grey;
}
.categories .image {
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}
.categories .image img {
    height: auto;
    width: 100%;
}
footer{
    text-align: center;
    padding: 10px;
    height: 50px;
}